.config/nvim/plugin/
OME/
Windows/PowerShell/Help/
Windows/PowerShell/Modules/
Windows/PowerShell/Scripts
Windows/powershell.config.json
Windows/windows-terminal/elevated-state.json
Windows/windows-terminal/state.json
nushell/history.txt
nushell/unused/
nushell/nu/*
nushell/plugin.msgpackz
.config/helix/helix.log
.vscode/settings.json
**/history*

# lazy.nvim commit hashes
.config/nvim/lazy-lock.json

# chadrc is tracked, do not look up for changes
.config/preconfigured-nvim/NvChad/custom/chadrc.lua

# espanso
.config/.espanso/match/packages/

# work config
.config/.espanso/match/work.yml
nushell/work-env.nu

# lazygit
.config/lazygit/state.yml
