.config/nvim/plugin/
Windows/PowerShell/Help/
Windows/PowerShell/Modules/
Windows/PowerShell/Scripts
nushell/history.txt
nushell/unused/
OME/
Windows/windows-terminal/elevated-state.json
Windows/windows-terminal/state.json
Windows/powershell.config.json
.config/helix/helix.log

# lazy.nvim commit hashes
.config/nvim/lazy-lock.json

# chadrc is tracked, do not look up for changes
.config/preconfigured-nvim/NvChad/custom/chadrc.lua

# espanso
.config/.espanso/match/packages/
.vscode/settings.json
