.config/nvim/plugin/
OME/
Windows/PowerShell/Help/
Windows/PowerShell/Modules/
Windows/PowerShell/Scripts
Windows/powershell.config.json
Windows/windows-terminal/elevated-state.json
Windows/windows-terminal/state.json
nushell/history.txt
nushell/unused/
nushell/nu/*
nushell/plugin.msgpackz
.config/helix/helix.log
**/history*

.vscode/History
.vscode/chatLanguageModels.json
.vscode/globalStorage
.vscode/profiles
.vscode/sync
.vscode/workspaceStorage

# Other licenses (not the root)
**/LICENSE

# lazy.nvim commit hashes
**/lazy-lock.json

# chadrc is tracked, do not look up for changes
.config/preconfigured-nvim/NvChad/custom/chadrc.lua

# syncthing config
.config/syncthing

# espanso
.config/.espanso/match/packages/

# lazygit
.config/lazygit/state.yml

# work config
.config/.espanso/match/work.yml
nushell/work-env.nu
nushell/scripts/typedesk/*

.DS_Store
secrets.*
