<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bat" />
  <package id="dart-sdk" />
  <package id="chocolatey" />
  <package id="delta" />
  <package id="deno" />
  <package id="fd" />
  <package id="fnm" />
  <package id="gh" />
  <package id="git" />
  <package id="gitui" />
  <package id="glow" />
  <package id="less" />
  <package id="neovim" />
  <package id="ripgrep" />
  <package id="ripgrep-all" />
  <package id="sass" />
</packages>